/* 사용자 화면 로그아웃 버튼 */
.btnLogout:hover {
  background-color: #333;
  color: #ffffff;
  border-radius: 4px;
}

/*  */
#container {
  min-height: 100vh;
  min-width: 80vw;
}
#container .main-category {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
}
#container .main-category-list {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#container .middle-category-list {
  display: flex; /* 가로 나열의 핵심 */
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}
#container .middle-category-list li {
  cursor: pointer;
  color: #888;
  transition: all 0.2s;
}
#container .middle-category-list li.active {
  color: #000;
  font-weight: bold;
  /* 원한다면 밑줄 추가: border-bottom: 2px solid #000; */
}

/* style={{
                    fontWeight: middleCategory === item ? 'bold' : 'normal',
                    color: middleCategory === item ? '#000' : '#888',
                    cursor: 'pointer',
                    marginRight: '20px',
                    listStyle: 'none'
                  }} */